@model MvcLibrary.Models.FeaturedBooksViewModel

@{
    ViewData["Title"] = "Featured Books";
}

<div class="text-center">
    <h3>Welcome to the Barber Online Local Library!</h3>
    <p>Please take a look at our featured books below.</p>
    <br />
    <h1 class="display-4">Featured Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].CoverImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books!)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.CoverImage)" style="height:30px; width:30px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
